.header{
    background:#EBD19E;
    width: 100%;
    margin-left:0px;
    height: 180px;
    border-bottom:1px solid black;
    position:relative;
}

.top-header{
    display: flex;
    flex-direction:row;
    width: 100%;
}

.podium-icon{
    margin-left: 50px;
}
.podium-text{
    margin-left: 30px;
    margin-top: 15px;
    color: #A02D32;
    font: italic 20px "Whitney Book Regular";
    text-align: center;
}

.podium-text-title{
    font-size: 48px;
    font-family: "Whitney Book Italic";
    letter-spacing: 10px;
}

.podium-text-body{
    width: 306px;
    font-size: 14px;
    line-height: 18px; 
}

.user-action-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 135px;
    margin-top: 40px;
}

.action-button{
    margin-left:30px;
    padding: 9px 15px;
    background: #A02D32;
    border-radius: 3px;
    font: 14px/20px Oxygen;
    text-justify:  center;
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.post-button{
    width: 150px;
}

.bottom-header{
    display: flex;
    flex-direction:row;
}

.topics{
    display:flex;
    flex-direction:row;
    margin-left: 70px;

}

.topic{
    font: normal 24px/28px "Whitney Book Regular", Helvetica;
    font-weight: 100;
    color: rgb(37, 34, 34);
    margin-right: 75px;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 0px;
}

.search-bar{
    margin-left: 40px;
    overflow:auto;
}

.search-box{
    margin-right:0px;
    width: 350px;
    height: 43px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
}

.search-button{
    margin-left: 0px;
}


/* Custom scroll bar */
::-webkit-scrollbar {
    width: 5px; 
    height:5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 2px;
    visibility:hidden;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(139, 138, 138); 
    border-radius: 2px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c3c0c0; 
}